.List p{
    display: flex;
    justify-content: start;
    gap: 3px;
    align-items: center;
    font-size: 1.5rem;
}

@media (max-width: 768px){
    .List p{
        font-size: 1.2rem;
        margin: 0 auto;
    }

    
}