#root {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100%;
}

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 5%;
  position: absolute;
  bottom: 0;
}

@media (max-width: 768px) {
  footer {

    font-size: 1.2rem;
    position: none;
    padding: 5px;
  }

}